[Desktop Entry]
Name=Web Apps
GenericName=Web Apps
Comment=Run websites as if they were apps
Categories=Network;
Exec=kde-webapp-manager
Icon=kde-webapp-manager
Terminal=false
Type=Application
StartupNotify=true
OnlyShowIn=KDE;
X-KDE-SubstituteUID=false